
img {
  max-width: 100%;
}

.sensor {
  margin-top: 10px;
}

.sensor .ring {
  position: absolute;
  transition: 1s;
  top: -20%;
  left: 0%;
  opacity: 0;
  transform: rotate(0deg);
}

.sensor-on .ring {
  top: 23%;
  opacity: 1;
  left: 12%;
  transform: rotate(30deg);
}
