<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Juego de Aros</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<body>
<div>
    <p>Juego de aros</p>
</div>

<div class="container">

  <div class="row">

      <!--SENSOR 1 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 1 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo1" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
      <!--SENSOR 2 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 2 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo2" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
      <!--SENSOR 3 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 3 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo3" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
  </div>

      <div class="row">
          <!--SENSOR 4 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 4 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo4" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
          <!--SENSOR 5 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 5 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo5" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
          <!--SENSOR 6 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 6 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo6" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
  </div>

      <div class="row">
          <!--SENSOR 7 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 7 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo7" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
          <!--SENSOR 8 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 8 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo8" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
          <!--SENSOR 9 -->
    <div class="col-sm">
        <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div style="line-height:20px;">
                                <a class="card-subtitle text-muted">Aros</a>
                                <br>
                                <h5 class="card-title trend-title">Sensor 9 </h5>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div id="estadoInfrarojo9" class="mt-2 alert-success mb-0 text-center">
                                OFF</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <i class="ion ion-md-color-fill" style="font-size: 24px;"></i>
                        </div>
                        <div class="col-4">
                            <i class="ion ion-md-stats" style="font-size: 24px;"></i>
                        </div>
                    </div>
                </div>
            </div>

    </div>
  </div>
</div>


</div>

    <script type="text/javascript" charset="utf-8">

        const socket = io();
        socket.on('connect', function() {
        socket.emit('message', {data: 'I\'m connected!'});
        });

        $('#textoApagando').hide();
        var typingTimer;
        var doneTypingInterval = 300;
        var flag = true;
        var msg_t = '';
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var dyn_functions = [];
        
        $("#sendButton").click(function () {
            var message = $("#myInput").val();
            socket.emit("message", message);
            $("#myInput").val("");
        });

        <!--SENSOR 1 -->
        dyn_functions['receive_void_1'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo1').text("Desactivada");
                $('#estadoInfrarojo1').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo1').text("Encendida");
                $('#estadoInfrarojo1').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 2 -->
        dyn_functions['receive_void_2'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo2').text("Desactivada");
                $('#estadoInfrarojo2').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo2').text("Encendida");
                $('#estadoInfrarojo2').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 3 -->
        dyn_functions['receive_void_3'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo3').text("Desactivada");
                $('#estadoInfrarojo3').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo3').text("Encendida");
                $('#estadoInfrarojo3').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 4 -->
        dyn_functions['receive_void_4'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo4').text("Desactivada");
                $('#estadoInfrarojo4').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo4').text("Encendida");
                $('#estadoInfrarojo4').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 5 -->
        dyn_functions['receive_void_5'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo5').text("Desactivada");
                $('#estadoInfrarojo5').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo5').text("Encendida");
                $('#estadoInfrarojo5').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 6 -->
        dyn_functions['receive_void_6'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo6').text("Desactivada");
                $('#estadoInfrarojo6').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo6').text("Encendida");
                $('#estadoInfrarojo6').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 7 -->
        dyn_functions['receive_void_7'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo7').text("Desactivada");
                $('#estadoInfrarojo7').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo7').text("Encendida");
                $('#estadoInfrarojo7').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 8 -->
        dyn_functions['receive_void_8'] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo8').text("Desactivada");
                $('#estadoInfrarojo8').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo8').text("Encendida");
                $('#estadoInfrarojo8').removeClass('alert-success').addClass("alert-danger");
            }
        }

        <!--SENSOR 9 -->
        dyn_functions['receive_void_9 '] = function (val) {
            if (val == "0") {
                $('#estadoInfrarojo9').text("Desactivada");
                $('#estadoInfrarojo9').removeClass('alert-danger').addClass("alert-success");
            } else {
                $('#estadoInfrarojo9').text("Encendida");
                $('#estadoInfrarojo9').removeClass('alert-success').addClass("alert-danger");
            }
        }


        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        async function asyncCall() {
            var count = 10;
            for (let i = 0; i < 11; i++) {
                $('#textoApagar').text('Reiniciando juego en ' + count + ' segundos');
                console.log(count);
                count -= 1;
                await sleep(10000);
            }
        }
    </script>

</body>
</html>